#contact .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.fa-search{
	color: #373a3c;
}
.img-circle {
    border-radius: 7%;
}
#section_2{
	margin-top: 30px;
}
#section_3{
	margin-top: 30px;
	margin-bottom: 30px;
}
.img-content img{
	width: 350px;
	height: 250px;
}
#headTitle{
	margin-top: 70px;
	margin-bottom: 70px;
}
#contact_info_p{
	margin-bottom: 30px !important;
}
#contact_info p{
	color: white;
}
#contact_info i{
	color: #b0bec5;
}
#contact_info h2{
	color: white;
	margin-top: 7px !important;
	margin-left: 15px !important;
	margin-bottom: 21px !important;
}
#form_contact h2{
	margin-top: 16px;
	margin-left: 15px;
	margin-bottom: 10px;
}
#form_contact_us{
	margin-bottom: 27px;
}
#contact_info_li{
	margin-bottom: 28px;
}
#mt-10{
	margin-top: 10px;
}
#footer p {
	color: black;
}
.navbar a{
	color: rgba(0, 0, 0, 0.7) !important;
}
.imeg{
	position: relative;
	width: 100%; /* for IE 6 */
}
.imeg h2{
	color: white;
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%
}
#book{
	margin-top: 60px;
	margin-bottom: 60px;
}
#book img{
	width: 170px;
	height: 120px;
	display: block;
    margin: auto;
}
#book a{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
}
#reception p{
	color: rgba(0, 0, 0, 0.7);
	line-height: 200%;
}
#reception .wrapper{
	padding-top: 50px;
	padding-bottom: 50px;
}
#reception{
	margin-bottom: 55px;
}
#first_section i{
	margin-left: 40px;
}
#icon_div{
	padding-bottom: 40px;
}
#icon_section p{
	text-align: center;
}
.wyg_img img{
	width: 100%;
	height: 300px;
}
#detail_section{
	padding-top: 100px;
}
#equipped li{
	list-style-type: circle;
	margin-left: 30px;
	list-style-position: inside;
}
#about_us_img{
	padding-top: 30px;
}
#about_us_first_section{
	padding-top: 30px;
}
#get_in_touch p{
	color: rgba(0, 0, 0, 0.7);
	line-height: 200%;
}
#get_in_touch .wrapper{
	padding-top: 50px;
	padding-bottom: 50px;
}
#get_in_touch{
	margin-bottom: 55px;
}
#get_in_touch_address{
	margin-top: 50px;
	margin-bottom: 50px;
}


      