overlay image
<div class="view overlay hm-white-light z-depth-1-half">
    <img src="http://mdbootstrap.com/images/proffesions/slides/socialmedia/img%20(2).jpg" class="img-fluid " alt="">
    <div class="mask">
    </div>
</div>

<div class="col-md-5">
    <h2 class="h2-responsive">We are professionals</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis pariatur quod ipsum atque quam dolorem voluptate officia sunt placeat consectetur alias fugit cum praesentium ratione sint mollitia, perferendis natus quaerat!</p>
    <a href="" class="btn btn-primary">Get it now!</a>
</div>

buat login2an
<!-- Purple Header -->
            <div class="edge-header deep-purple"></div>

            <!-- Main Container -->
            <div class="container free-bird">
                <div class="row">
                    <div class="col-md-8 col-lg-7 mx-auto float-xs-none white z-depth-1 py-2 px-2">
                        <h2 class="h2-responsive"><strong>Material Design Edge Headers</strong></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut doloremque quasi repudiandae nulla eaque recusandae saepe cupiditate hic atque veritatis? Possimus dolore, repellendus veritatis omnis libero incidunt laudantium tenetur quasi!</p>
                    </div>
                </div>
            </div>


navbar
        <nav class="navbar navbar-dark bg-primary info-color">

            <!-- Collapse button-->
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
                <i class="fa fa-bars"></i>
            </button>

            <div class="container">

                <!--Collapse content-->
                <div class="collapse navbar-toggleable-xs" id="collapseEx2">
                    <!--Navbar Brand-->
                    <a class="navbar-brand" href="#">Clean And Simple Living</a>
                    <!--Search form-->
                    <form class="form-inline">
                        <i id="kelik" class="fa fa-search fa-2x" aria-hidden="true"></i>
                        <input id="ilang" class="form-control" type="text" placeholder="Search">
                    </form>
                </div>
                <!--/.Collapse content-->

            </div>

        </nav>

map
<section id="contact">
    <div class="row">
        <!--First column-->
        <div class="col-md-8">
           
            <!--Map container-->
            <div id="map-container" class="z-depth-1 wow fadeInUp" style="height: 300px"></div>

        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-4">
            <ul class="text-xs-center">
                <li><i class="fa fa-map-marker"></i>
                    <p>New York, NY 10012, USA</p>
                </li>

                <li><i class="fa fa-phone"></i>
                    <p>+ 01 234 567 89</p>
                </li>

                <li><i class="fa fa-envelope"></i>
                    <p>contact@mdbootstrap.com</p>
                </li>
            </ul>
        </div>
        <!--/Second column-->
    </div>
</section>
